@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

body{
    font-family: 'Josefin Slab', serif;
    background-size: cover;
    background: rgb(227,200,155);
    background: linear-gradient(90deg, rgba(227,200,155,1) 0%, rgba(217,198,169,1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

* {
    font-family: 'Josefin Slab', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: none;
  float: left;
}

nav img{
  width: 90px;
  height: auto;
}

#icon-menu{
  font-size: 30px;
}

.formulario{
  background-color: whitesmoke;
  padding: 6px;
  width: 50.1%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  float: left;
}
.container1 {
  background-color: whitesmoke;
  padding: 0;
  width: 50%;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 darkgrey;

}

.imagem img{
  margin-right: 4px;
  float: left;
  width: 46.5%;
  border-radius: 0px 40px 197px 0px;
  height: 390px;
  width: auto;
  box-shadow: 0.5px 4px 0px 0px #7C573E;
}


.container p{
  color: #7C573E;
}

form {
  position: absolute;
  margin-top: 40px;
  transition: .5s;
  width: 300px;
  height: 400px;
}

.buttonsForm {
    height: 6px;
  margin-top: 7px;
  position: relative;
  border-radius: 30px;
}

#btnlogar, #btnregistrar{
    width: 500px;
    font-size: 300px;
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px 7px;
}

.btnColor {
  position: absolute;
  width: 60px;
  height: 100%;
  background: #7C573E;
  border-radius: 30px;
  transition: .3s;
  
}


#but-log{
    height: 30px;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 0 0 0;
    justify-content: center;
    float: right;
    margin: 70px 10px 0 0;
}

#but-reg{
    height: 30px;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 0 0 0;
    justify-content: center;
    float: right;
    margin: 10px 10px 0 0;
}

#logar input{
  background: none;
  border: none;
  margin-top: 50px;
  padding: 8px 0 8px 10px;
  outline: 0;
  width: 90%;
  border-bottom: 2px solid #7C573E;
  margin-left: 18px;
}

#logar input:focus{
border-bottom: 4px solid #7C573E;
}

#registrar input{
background: none;
border: none;
margin-top: 12px;
padding: 8px 0 8px 10px;
outline: none;
width: 90%;
border-bottom: 2px solid #7C573E;
margin-left: 18px;
}


#registrar input:focus{
border-bottom: 4px solid #7C573E;
}

#cep, #rua, #num{
    background: none;
    border: none;
    margin-top: 12px;
    
    padding: 8px 0 8px 7px;
    outline: none;
    width: 90%;
    border-bottom: 2px solid #7C573E;
    margin-left: 35px;
}

h1{
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 30px 0 3px 27px;
}


button[type="submit"] {
  background: #7C573E;
  color: white;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 3px 0 8px 15px;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
}


#logar {
  margin-top: 90px;
  left: 25px;
}

#registrar {
  left: 450px;
}

span {
  color: #7C573E;
  position: absolute;
  left: 0;
}

#icon-loca{
  font-size: 27px;
}

#icon-email-logar {
  top: 42px;
  font-size: 21px;
  padding: 10px 10px 10px 0;
}

#icon-lock-logar {
  top: 122px;
  font-size: 21px;
  padding: 10px 10px 10px 0;
}

#icon-lock-cad{
  top: 90px;
  font-size: 21px;
  padding: 10px 10px 10px 0;
}

#icon-lock2-cad{
  top: 132px;
  font-size: 21px;
  padding: 10px 10px 10px 0;
}

#icon-email-cad{
  top: 46px;
  font-size: 21px;
  padding: 10px 10px 10px 0;
}

#icon-person-cad{
  top: 4px;
  font-size: 21px;
  padding: 10px 10px 10px 0;
}

header{

  background-size: cover;
  
  
}

@media (max-width: 600px){

}