@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

body{
    font-family: 'Josefin Slab', serif;
    background: rgb(227,200,155);
    background: linear-gradient(90deg, rgba(227,200,155,1) 0%, rgba(217,198,169,1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    font-family: 'Josefin Slab', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: whitesmoke;
  padding: 6px;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 darkgrey;
}

.container p{
  color: #7C573E;
}

form {
  position: absolute;
  margin-top: 60px;
  transition: .5s;
  width: 300px;
  height: 400px;
}

.buttonsForm {
    height: 6px;
  margin-top: 20px;
  position: relative;
  border-radius: 30px;
}

#btnlogar, #btnregistrar{
    width: 500px;
    font-size: 300px;
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px 7px;
}

.btnColor {
  position: absolute;
  width: 60px;
  height: 100%;
  background: #7C573E;
  border-radius: 30px;
  transition: .3s;
  
}



#but-log{
    height: 30px;
    width: 50%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    padding: 0 0 0 0;
    justify-content: center;
  
}

#but-reg{
    height: 30px;
    width: 50%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 0 0 0 0;
    justify-content: center;
}

#email-logar, #senha-logar{
    background: none;
    border: none;
    margin-top: 50px;
    padding: 8px 0 8px 10px;
    outline: 0;
    width: 90%;
    border-bottom: 2px solid #7C573E;
    margin-left: 35px;
     
}



#nome, #email-cad, #senha-cad, #confsenha{
    background: none;
    border: none;
    margin-top: 12px;
    padding: 8px 0 8px 10px;
    outline: none;
    width: 90%;
    border-bottom: 2px solid #7C573E;
    margin-left: 35px;
}

#cep, #rua, #num{
    background: none;
    border: none;
    margin-top: 12px;
    
    padding: 8px 0 8px 7px;
    outline: none;
    width: 90%;
    border-bottom: 2px solid #7C573E;
    margin-left: 35px;
}

h1{
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 17px 0 0 35px;
}


button[type="submit"] {
  background: #7C573E;
  color: white;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 3px 0 8px 15px;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
}


#logar {
  margin-top: 90px;
  left: 25px;
}

#registrar {
  left: 450px;
}

span {
  color: #7C573E;
  position: absolute;
  left: 0;
  padding: 10px 10px;
}

#icon-email-logar {
  top: 42px;
}

#icon-lock-logar {
  top: 122px;
}

#icon-lock-cad{
  top: 90px;
}

#icon-lock2-cad{
  top: 132px;
}

#icon-email-cad{
  top: 46px;
}

#icon-person-cad{
  top: 4px;
}

.mensagem-sucesso {
  background-color: #4caf50; /* Cor de fundo verde para indicar sucesso */
  color: white; /* Cor do texto */
  padding: 10px; /* Espaçamento interno */
  margin-bottom: 10px; /* Margem na parte inferior para separar de outros elementos */
}