@import url('https://fonts.googleapis.com/css2?family=Galada&family=Josefin+Slab&display=swap');


.collapse{
    --bs-navbar-nav-link-padding-x:3em;
   
    
}

.collapse a{
    color: white;
}

.banner-image {
    background-image: url('img/cafezinho.png');
    background-size: cover;
    background-position: center 180%;
    
 }

 .container1{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    margin-top: 25em;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 74px 74px 0 0;
    border: 4px solid #7C573E;
    
  
 }

 .Produtos{
    position: absolute; 
    top: 20%;
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center;
    width: 100%; 
    font-family: 'Galada', cursive;
 }

 .Produtos h3{
    top: 20%;
    overflow: visible;
    color: white;
    font-size: 5em;
    text-shadow: 4px 4px #7C573E, 8px 8px white;
    -webkit-text-stroke: 2px #7C573E;
    font-family: 'Galada', cursive;

 }
 
 .btnColor {
    bottom: 25%;
    right: 67%;
    position: absolute;
    width: 60px;
    height: 5%;
    background: #7C573E;
    border-radius: 30px;
    transition: .3s;
    
  }

 
