@import url('https://fonts.googleapis.com/css2?family=Galada&family=Italianno&family=Josefin+Slab&display=swap');

*{
   font-family: 'Josefin Slab', serif;
   
}

body{
   font-family: 'Josefin Slab', serif;
   background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(237,215,189,1) 100%);
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.corpo{
    display: flex;
    flex-direction: column;
   width: 100vw;
   height: auto;
   margin-top: 70px;
   text-align: center;
   background-color: transparent;
}

#slide1 {
    position: relative;
    width: 100%; /* Ajuste de acordo com o tamanho da sua imagem */
}

#frase {
    position: absolute;
    top: 15%; /* Ajuste para posicionar verticalmente no meio da imagem */
    left: 1.5em; /* Ajuste para posicionar horizontalmente no meio da imagem */
    color: rgba(255, 255, 255, 0.634); /* Cor do texto */
    padding: 10px; /* Espaçamento interno do texto */
    font-size: 2.5em;
    text-align: left;
    
    font-weight: bold;
}

h1{
   font-family: 'Italianno', cursive;
   font-size: 6em;
   margin: 0;
   color: #462506;
   text-shadow: 0.5px 0.5px 5px #f8f5b1;
}

h2{
    font-size: 3em;
    color: #462506;
    text-shadow: 0.05em 0.05em 0.05em #f8f5b1;
    margin: 1% 0 3% 0 ;
}


#slide{
   width: 100%;
   height: 70%;
   margin: 0;
}



.banner-image {
    background-image: url('img/cafezinho.png');
    background-size: cover;
    background-position: center 180%;
    
}

 .navbar{
   background-image: #0000;
 }

 #produtos-destaques{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#produtos-destaques div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;

}

#produtos-destaques img{
    width: 50%;
    height: auto;
}

#produtos-destaques button{
    width: 120px;
    height: auto;
    border-radius: 30px;
    background-color: #00643C;
    color: white;
}

#produtos-destaques p, h3{
    color: white;
}

#produtos-destaques h3{
    font-size: 1.7em;
    text-shadow: 0.05em 0.05em 0.05em #333;

}

#car{
    width: 100%;
    justify-content: flex-end;
    display: flex;
}
#carrinho{
    font-size: 3.5em;
    margin-right: 3%;
    color: white;
}

 .btnColor {
    bottom: 25%;
    right: 67%;
    position: absolute;
    width: 60px;
    height: 5%;
    background: #7C573E;
    border-radius: 30px;
    transition: .3s;
    
}

  @media screen and (min-width: 768px){
    #produtos-destaques {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1200px;
        margin: 0 auto;
    
    }
    
    #produtos-destaques h2 {
        text-align: center;
        width: 100%;
    
    }
    #produtos-destaques div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0/*px*/ 10px;
    }

    #adc {
        flex-direction: row;
        justify-content: space-around;
        text-align: left; /* Alinhe o texto à esquerda */
    }
  }
 
